*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
section{
    height: 650px;
    margin-bottom: 100px;
}
header{

display: flex;

flex-wrap: wrap;

justify-content: space-between;

align-items: center;

padding-top: 20px;

margin-bottom: 80px;
}
.logo{

flex-basis: 20%;

max-width: 20%;
}
.logo h6{

font-size: 28px;

color: orange;

margin-left: 99px;
}
nav{
    
max-width: 50%;
    
flex-basis: 50%;
    
margin-right: 121px;
}
nav ul{

display: flex;

/* justify-content: end; */

justify-content: flex-end;
}
nav ul li{

/* display: flex; */

list-style: none;

margin-left: 90px;
}
nav ul li a{

font-size: 20px;

color: #4e4d4d;

font-weight: 500;
}
img{
    width: 100%;

}
.hero-section{
    margin-bottom: 400px;
}


h1{
    font-size: 60px;
    color: orange;
    /* text-align: center; */
}
h2{
    font-size: 45px;
    margin-top: 150px;
    color: #333333;
}
h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #504c4c;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    /* padding-left: 1%; */
    padding: 25px;
}
.link-btn{
    background: orange;
    padding: 15px 30px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 25px;
}

.about-section{
    margin-bottom: 400px;
}
.about-section p{

margin-bottom: 55px;

margin-top: 35px;
}
.portfolio-section{
    background-color: aliceblue;
    padding-top: 28px;
    padding-bottom: 400px;
}
.onebythird{
    width: 27%;
    float: left;
    /* padding-left: 2%; */
    margin-left: 3%;
    background: white;
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
    height: 85%;
    padding: 25px;
}
.portfolio-section h2{
    text-align: center;
    margin-bottom: 70px;
    color: #333333;
}

h5{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #2f2f2f;
}
.add-section{


}


.add{height: 400px;width: 70%;background-image: url(../images/add.png);background-repeat: no-repeat;background-position: center;/* padding: 83px; */background-size: contain;margin-left: auto;margin-right: auto;/* padding: 25px; */}

.add-section h6{
    font-size: 50px;
    color: #fdfdfd;
    margin-top: 80px;
    text-align: center;
    margin-top: 200px;
    font-weight: 600;
}
.uppercase{

    text-transform: uppercase;

}

.half{
   
width: 50%;
   
float: left;
}

.inquiry-btn{

background: orange;

padding: 10px 20px;

color: #fff;

border-radius: 5px;

margin-left: 300px;

margin-top: !important;

/* padding-top: 30px; */
}


.portfolio-section strong{

    color: orange;

}
.portfolio-section p{
    font-size: 16px;
    color: dimgray;
}

 footer{
     text-align: center;
 }

 footer p{

font-size: 22px;

color: dimgray;

}

 footer h3{

color: #383737;

}
 footer ul{
  

     overflow: hidden;
     margin-left: auto;
     width: 30%;
     margin-right: auto;
 }
 footer ul li{
    list-style: none;
    float: left;
    width: 8%;
    margin-left: 30px;
 }
 footer img{
     /* width: 20%; */
     margin-left: 185px;
 }

 